@media(max-width: 991.98px) {
    
    #nav ul li a {
        display: inline-block;
    }

    /***** Banner Start *****/ 
    #hero {
        padding: 10px 0;
        text-align: center;
    }
    
    
    #hero .icons a:first-child{
        margin-bottom: 10px;
        margin-right: 0;
    }

    #hero .icons a:last-child{
        margin-bottom: 15px;
        margin-right: 0;
    }
    .follow-container span{
       font-size: 20px;
       padding-right: 10px;
    
    }
    .mouse{
        display: none;
    }
    /***** End Banner *****/

    /***** About *****/ 
    #about .container {
        padding: 0 30px;
        
    }
    #about .container .about-footer {
        position: absolute;
        right: 0;
        top: 0;
    }
    #about .container .about-footer img {
        transform: rotate(180deg);
        height: 90px;

    }
    
    /***** End About *****/

/***** Card *****/ 
#card .add_cart{
    width: 90%;
    margin-bottom: 20px;
}

/***** End Card *****/

/***** Branding *****/ 

#branding .row {
    position: relative;
}

#branding .img-fluid {
    position: unset;
}

#branding .branding_contains {
    padding: 30px;
}
#branding .branding_contains p br {
    display: none;
}
#branding .container {
    position: relative;
}

/***** End Branding *****/

/***** help *****/ 
#help {
    padding: 50px 0;
}

#help .container {
    padding: 0 30px;
}
#help .project_second h3 {
    text-align: center;

}

#help .project_second p {
    text-align: center;
}

#help .row .col-6 h3 {
    text-align: center;
}

#help .row .col-6 p {
    text-align: center;
}

#work .title::before {
    left: 0;
    top: -1px;
}

#work .title::after {
    left: -11px;
    top: -12px;
}
#work .row .title, #work .row .details {
    padding-left: 50px;
}

#work .details::before{
    content: '';
    position: absolute;
    height: 87%;
    width: 2px;
    border: 2px dashed;
    color: #7a7a;
    left: -2px;
    top: 55px;
}
#work .parent {
    position: relative;
}
#work .parent::before {
    content: '';
    position: absolute;
    height: 87%;
    width: 2px;
    border: 2px dashed;
    color: #7a7a;
    left: -2px;
    top: 55px;
}
#work .parent1 {
    position: relative;
#work .parent1::before {
    content: '';
    position: absolute;
    height: 87%;
    width: 2px;
    border: 2px dashed;
    color: #7a7a;
    left: -2px;
    top: 55px;
}
#work .parent2 {
    position: relative;
#work .parent2::before {
    content: '';
    position: absolute;
    height: 87%;
    width: 2px;
    border: 2px dashed;
    color: #7a7a;
    left: -2px;
    top: 55px;
}

/***** End help *****/




}